body {
  text-align: center;
}

#board {
  border: 1px solid #333333;
  display: inline-block;
}

.row {
  font-size: 0px;
}

.col {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  vertical-align: top;
  color: black;
  font-size: 20px;
  line-height: 50px;
}

/* For testing purposes: Displays locations of bombs */
/*.col.hidden.mine {
  background-color: red;
} */

.col.hidden {
  background-color: #596259;
  cursor: pointer;
}

.col.hidden:hover {
  background-color: #eeeeee;
}

.row:last-child .col {
  border-bottom: none;
}

.row .col:last-child {
  border-right: none;
}
