<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>About The Developers</title>
  <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
  <link rel="manifest" href="../images/site.webmanifest">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="page-body">
  {{>navbar}}
  {{!-- <div id="nav-placeholder"></div> --}}
  <div class="container">
    <img class="J-img" src="images/Jannatul-Profile.JPEG" alt="Jannatul-profile-img" />
    <h3 class="intro">Jannatul Maisha</h3>
    <p class="intro">
      Jannatul Maisha, the front-end developer of this project is a Computer
      Science major student at Queens College. She enjoys website design and
      looks forward to improving her skills to become an excellent front-end
      developer in the future.
    </p>
  </div>

  <div class="container">
    <img class="E-img" src="images/Emiliano-Profile.jpeg" alt="Emiliano-profile-img" />
    <h3 class="intro">Emiliano Gonzalez Valdez</h3>
    <p class="intro">
      Emiliano Gonzalez Valdez, the back-end developer of this project is a
      Computer Science major student at Queens College. He enjoys abstract
      concepts and backend programming. He looks forward to learning more about
      the field and becoming a backend programmer in the future.
    </p>
  </div>

  <hr />

  <div class="us">
    <img class="our-img" src="images/us.JPG" alt="our-img" />
    <h3>This is us!</h3>
    <img class="our-gif" src="images/us-giphy.gif" alt="our-gif" />
    <p>
      This is our little project that we decided to work together just the two
      of us since we both like different ends of the project and we thought it
      would be a good idea to give it a try. We also had been looking for a
      project to work on together and we're thankful to finally getting the
      chance by the class we're taking. We're a couple who are lucky enough to
      be in the same major and pursuing the same dream and hopes to fullfill
      them together one day as well.
    </p>
  </div>
  {{!-- <script>
    $.get("navbar.html", function (data) {
      $("#nav-placeholder").replaceWith(data);
    });
  </script> --}}
</body>

</html>
