<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>About The Game</title>
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  {{>navbar}}
  {{!-- <div id="nav-placeholder"></div> --}}
  <div class="container">
    <div class="rules">
      <h2>Rules of The Game</h2>
      <div class="rules-list">
        <ul>
          <li>
            Click anywhere on the board to start the game. Don't worry, the
            first click will never be a mine.
          </li>
          <li>
            It will clear the map and place numbers on the grid.
          </li>
          <li>
            The numbers on the grid refer to the number of mines that are
            currently touching that square.
          </li>
          <li>
            You can flag squares that you suspect have a mine in it by
            pressing your right click button.
          </li>
          <li>
            Your goal is to clear the board without detonating any of the
            mines! Good luck!
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="history-container">
      <h2>History of Minesweeper</h2>
      <img src="images/brain.png" alt="book-img" />
      <p class="history-text">
        Minesweeper has its origins in the earliest mainframe games of the
        1960s and 1970s. The earliest ancestor of Minesweeper was Jerimac
        Ratliff's game called Cube. Minesweeper became famous when Microsoft
        included it with Windows 3.1. The game of Minesweeper that we know
        today was created by Windows for Windows. Robert Donner and Curtis
        Johnson, who worked for Microsoft, wrote and developed the game for
        release with the Microsoft Entertainment Pack for Windows 3.1 in 1990.
        Minesweeper was designed with an ulterior motive - to teach users how
        to use a mouse. In the early days of PC’s, controlling games was
        text-based, at the time a mouse was still a rare thing. The simplistic
        controls of Minesweeper, with a left click for the mines and a right
        click to put down a flag, gave users the chance to get familiar with a
        device that would soon become an essential feature on all PC’s
      </p>
    </div>
    <!-- <hr />
      <div class="google-search">
        <h2>Want to learn more?</h2>
         <p>
          Here is a link to
          <a
            href="https://www.google.com/search?gs_ssp=eJzj4tDP1TewLMkoNGD04s7NzEstLk9NLUgtAgBUWwe-&q=minesweeper&rlz=1C1CHBF_enUS889US889&oq=mine&aqs=chrome.2.69i57j46l2j0l4j69i60.3884j0j8&sourceid=chrome&ie=UTF-8"
            >google search</a
          >
          about the game
        </p> 
      </div>
      <hr /> -->
    <!-- <div class="container">
        <div class="dropdown-links">
          <button class="search-links-btn">
            Where else can this game be played? (Hover Over Me)
          </button>
          <div class="dropdown-content-links">
            <a href="http://minesweeperonline.com/"
              >Link to MinesweeperOnline</a
            >
            <a href="https://cardgames.io/minesweeper/">Link to Cardgames.io</a>
            <a
              href="https://testdrive-archive.azurewebsites.net/Performance/Minesweeper/"
              >Link to Minesweeper the Benchmark!</a
            >
          </div>
        </div>
      </div> -->
  </div>
  {{!-- <script>
    $.get("navbar.html", function (data) {
      $("#nav-placeholder").replaceWith(data);
    });
  </script> --}}
</body>

</html>