@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&family=Flavors&family=Grenze+Gotisch&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'El Messiri', sans-serif;
}

html {
  background-color: #ffe3b7;
  color: #362207;
}

section h2 h1 {
  text-align: center;
  height: 200px;
  color: white;
  font-size: 20px;
}

.nav-list {
  list-style-type: none;
  overflow: hidden;
}

.dropdown {
  float: left;
  text-align: center;
}

.dropdown a {
  text-align: center;
}

p {
  line-height: 2;
}

.dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #362207;
  color: white;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #362207;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #857671;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#navbar {
  position: relative;
}

#login-btn {
  border-radius: 2px;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 17px;
}

#login-btn:hover {
  opacity: 0.8;
}
/* Full-width input fields */
.login-container input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginForm-btn {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
}

.loginForm-btn:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
#cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #900d0d;
}

/* Center the image and position the close button */
.imgcontainer {
  /* text-align: center; */
  margin: 2px 0 12px 0;
  position: relative;
}

/* img.avatar {
    width: 40%;
    border-radius: 50%;
} */

.login-container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.psw a{
  text-decoration: none;
}

.psw a:hover{
  text-decoration:underline;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #900d0d;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  #cancelbtn {
    width: 100%;
  }
}

.rememberMe-checkbox {
  display: block;
  margin-top: 10px;
}

/*Contact.html*/
.contact-section {
  background-size: cover;
  /* background: #222629; */
  padding: 40px 0;
}

.contact-section h1 {
  text-align: center;
  color: #111d5e;
}

/* .border{
  width:100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
} */
.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #ff9234;
  padding: 20px 40px;
  outline: none;
  color: #111d5e;
  transition: 0.5s;
}

.contact-form-text:hover {
  box-shadow: 0 0 10px 4px #34495e;
}

.contact-form label {
  color: #111d5e;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.email-btn {
  float: right;
  border: 0;
  width: 70px;
  height: auto;
  /* background: #34495e; */
  padding: 5px 10px;
  /* border-radius: 20px; */
  cursor: pointer;
  transition: 0.5s;
}

.email-btn:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}

/* .smile-sticker{
  width: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */
/*developes.html*/
.container {
  /* background-color: #f3e1e1; */
  margin: 100px auto 100px auto;
  width: 50%;
  padding-bottom: 200px;
  text-align: center;
}

.intro {
  text-align: left;
}

/* .emiliano-container{
  background-color: #dddddd;
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  padding-bottom: 200px;
} */
.J-img {
  width: 250px;
  height: auto;
  float: left;
  margin-right: 30px;
}

.E-img {
  width: 290px;
  height: auto;
  float: right;
  margin-left: 30px;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: grey;
  width: 5%;
  margin: 100px auto;
}

.us {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: center;
}

.our-img {
  width: 500px;
}

.our-gif {
  width: 100px;
  margin-top: 10px;
}

/*gameInfo.html*/
.rules {
  text-align: center;
  border: double;
}

.rules h2 {
  padding-bottom: 15px;
}

.rules-list {
  line-height: 1.5rem;
}

.rules-list ul {
  list-style-type: none;
  list-style-position: inside;
  /* list-style-image: url("../images/bomb.png"); */
}

.rules-list ul li:before {
  content: '';
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: 30px;
  background-image: url("../images/bomb.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.history-container {
  position: relative;
  text-align: center;
}

.history-container img {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
}

.google-search {
  text-align: center;
  border-style: ridge;
}

.search-links-btn {
  background-color: #2f2519;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-links {
  position: relative;
  display: inline-block;
}

.dropdown-content-links {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-links a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-links a:hover {
  background-color: #ddd;
}

.dropdown-links:hover .dropdown-content-links {
  display: block;
}

.dropdown-links:hover .search-links-btn {
  background-color: #4a3f35;
}

/*Index style*/
.main-btn {
  margin-top: 100px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 30px;
  /* cursor: pointer; */
  text-align: center;
  text-decoration: none;
  outline: none;
  /* color: #fff; */
  /* background-color: #362207; */
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #857671;
}

.main-btn:hover {
  background-color: #4e413b
}

.main-btn:active {
  background-color: #4e413b;
  box-shadow: 0 5px #857671;
  transform: translateY(4px);
}

#load-btn {
  margin-left: 30px;
}

button {
  background-color: #362207;
  color: #fff;
  padding: 8px 10px;
  font-family: 'Grenze Gotisch', cursive;
  cursor: pointer;
}

.play-save-btn {
  transition-duration: 0.4s;
  border-radius: 12px;
  border: 2px solid #9c5518;
  display: block;
  margin: 10px auto;
  font-size: 20px;
}

.play-save-btn:hover {
  background-color: #d2c6b2;
  color: black;
}

#save-btn {
  font-size: 12px;
}
